
/*----------------------SECTION WHAT I DO----------------------*/
/*----------------------SECTION WHAT I DO----------------------*/
/*----------------------SECTION WHAT I DO----------------------*/
/*----------------------SECTION WHAT I DO----------------------*/
.section-container {
    width: var(--section-width-lg);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:50px
}
.deck{
    width: var(--section-width-lg);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    margin: auto;
}
.deck--card {
    width: var(--card-width);
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    gap: 10px;
    font-family: var(--font-secondary);
    margin-bottom: 50px;
}

.deck--card h3{
    font-size: 17px;
}
.deck--card span{
    margin-left: 10px;
}

.deck--card p{
    font-weight: 500;
    font-size: 12px;
    font-family: var(--font-primary);
}



@media screen and (min-width: 768px) and (max-width: 1023px) {
    .section-container {
        width: var(--section-width-medium);
    }
    .deck {
        width: 80%;
        min-width: 700px;
        margin: auto;
    }
    .deck--card{
        padding: 40px 40px;
        width: 45%;
        position: relative;
    }
    .deck--card h3{
        font-size: 20px;
        width: 70%;
        margin-bottom: 20px;
    }
    .deck--card span{
        position: absolute;
        right: 30px;
        top: 30px;
        font-size: 40px;
    }
    .deck--card img{
        width: 40px;
        height: 40px;
    }
    .deck--card p{
        font-size: 13px;
    }

}



@media screen and (max-width: 767px) {
    .section-container {
        width: var(--section-width-small);
    }
    .deck {
        width: 100%;
        margin: auto;
    }
    .deck--card{
        padding: 40px 30px;
        width: 100%;
        min-height: 300px;
        position: relative;
    }
    .deck--card h3{
        width: 70%;
        font-size: 40px;
        margin-bottom: 50px;
    }
    .deck--card span{
        position: absolute;
        right: 50px;
        top: 30px;
        font-size: 80px;
    }
    .deck--card p{
        font-size: 20px;
    }
    .deck--card img{
        width: 50px;
        height: 50px;
    }
}